@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 

<a class="navbar-brand" href="index.html"> <img src="~/Images/@ViewData["image"]" alt="logo"> </a>
