USE [master]
GO
/****** Object:  Database [ProductContext]    Script Date: 5/22/2021 11:52:48 AM ******/
CREATE DATABASE [ProductContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductContext', FILENAME = N'D:\sql\MSSQL15.ADMIN\MSSQL\DATA\ProductContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductContext_log', FILENAME = N'D:\sql\MSSQL15.ADMIN\MSSQL\DATA\ProductContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductContext]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/22/2021 11:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/22/2021 11:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/22/2021 11:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Author] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[PageCount] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ModifyUserId] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[PublishingHouse] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubHeaders]    Script Date: 5/22/2021 11:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubHeaders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_SubHeaders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/22/2021 11:52:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210516130129_addedd', N'2.1.14-servicing-32113')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210517072133_nullable', N'2.1.14-servicing-32113')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210518121448_created date', N'2.1.14-servicing-32113')
INSERT [dbo].[Categories] ([Id], [Name], [Status], [Image]) VALUES (N'5aa66755-324f-4c9e-b466-4430e048be4b', N'Science', 0, N'20210522081244_hand-drawn-science-education-background_23-2148494536.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [Status], [Image]) VALUES (N'83416276-d81b-467e-a51d-57ab00ab2ecf', N'detective', 1, N'20210521121924_images.jpg')
INSERT [dbo].[Categories] ([Id], [Name], [Status], [Image]) VALUES (N'eda738bc-0b56-49c2-8526-60e7b8ad652d', N'Detective', 0, N'20210522081041_20210519154837_21l-310f06.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Author], [CategoryId], [PageCount], [Image], [Status], [UserId], [CreatedDate], [Description], [ModifyUserId], [UpdatedDate], [PublishingHouse]) VALUES (N'301a59e6-4cec-4649-995e-1eebf544e320', NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL, NULL, 3, NULL, CAST(N'2021-05-22T11:47:46.1528175' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Products] ([Id], [Name], [Author], [CategoryId], [PageCount], [Image], [Status], [UserId], [CreatedDate], [Description], [ModifyUserId], [UpdatedDate], [PublishingHouse]) VALUES (N'0007669c-04bb-4a46-99a8-37e8fd075f7b', NULL, NULL, N'00000000-0000-0000-0000-000000000000', NULL, N'20210522114159__20210517165135_1.jpg', 3, N'0fa25e1f-2c3e-49e0-be94-08d91c98e35c', CAST(N'2021-05-22T11:41:59.8058233' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SubHeaders] ON 

INSERT [dbo].[SubHeaders] ([Id], [Image]) VALUES (1, N'20210522075629_thumb-1920-26102.jpg')
SET IDENTITY_INSERT [dbo].[SubHeaders] OFF
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Password], [Status]) VALUES (N'0fa25e1f-2c3e-49e0-be94-08d91c98e35c', N'Nigar', N'Mammadova', N'nigarmammadova4t@gmail.com', N'AEfsXAbLLj5ChjMuSNQWiI4l25VU4P6IlyTmR2Ea36fQfERGkxgIAAK/9OF+rLe1lg==', 0)
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Email], [Password], [Status]) VALUES (N'74c07d7f-8d4e-4c49-13d0-08d91d4dc62d', N'admin', N'admin', N'admin@gmail.com', N'AJLaG0ga5H4Hn/AiuAPz1dRbMhtRnHjphWf0tNy0eIo2Zq5deEX4upiYVCOkN7c50A==', 0)
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 5/22/2021 11:52:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_UserId]    Script Date: 5/22/2021 11:52:48 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_UserId] ON [dbo].[Products]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
