@model IEnumerable<CrudApp.Db.Models.Category>
  @{  Layout = "~/Views/Shared/_Layout2.cshtml"; }

    <html>
    <body>
        <!-- Subheader Start -->
        <div class="metro_subheader dark-overlay dark-overlay-2" style="        background-image: url(/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/subheader.jpg)">
            <div class="container">
                <div class="metro_subheader-inner">
                    <h1>Book Janrs</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Book Janrs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Subheader End -->
        <!-- Categories Start -->
        <div class="section">
            <div class="container">
                <div class="row">

                    <!-- Category Start -->
                    @foreach (var i in Model)
                    {
                        <div class="col-md-4 col-sm-6">
                            <a href="/Product/BookGrid/@i.Id " class="metro_recipe-category">
                                <div class="metro_recipe-category-thumb">
                                    <img src="~/Image/@i.Image" style="height: 400px; width:400px; object-fit: cover">
                                </div>
                                <div class="metro_recipe-category-content">
                                    <h5>@i.Name</h5>

                                </div>
                            </a>
                        </div>
                    }


                </div>


            </div>
        </div>

    </body>
</html>