@model CrudApp.Db.Models.SubHeader

@{
    ViewData["Title"] = "Edit";
}

<h2>@stringLocalizer["Edit"]</h2>

<h4>@stringLocalizer["SubHeader"]</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="EditLogo" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label class="control-label"> @stringLocalizer["Image"] </label>
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>

                </div>
                <img src="~/Public/metropolitanhost.com/themes/themeforest/html/trickly/assets/img/@Model.Image" style="height: 100px; width:100px; object-fit: cover">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="SubHeaders">@stringLocalizer["Back to List"]</a>
    </div>
</div>

